<!-- Footer Start -->
<footer class="footer"> 2016 © Writty. </footer>
<!-- Footer Ends -->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="${cdn}/assets/js/jquery.js"></script>
<script type="text/javascript" src="${cdn}/assets/js/bootstrap.min.js"></script>
<!-- owl-carousel -->
<script type="text/javascript" src="${cdn}/assets/owl-carousel/owl.carousel.js"></script>
<!-- sweet alerts -->
<script type="text/javascript" src="${cdn}/assets/sweet-alert/sweetalert.min.js"></script>
<!--common script for all pages-->
<script type="text/javascript" src="${cdn}/assets/js/jquery.pjax.min.js"></script>
<script type="text/javascript" src="${cdn}/assets/nprogress/nprogress.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
    	
    	$(document).pjax('a[target!=_blank][redirect!=true]', 'body', {fragment:'body', timeout:3000});
		    	
    	$(document).on('pjax:start', function() {
	   	    NProgress.start();
	   	});
	   	$(document).on('pjax:end', function() {
	   		NProgress.done();
	   	});
	   	
        //owl carousel
        $("#velonic-slider,#velonic-slider-2").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true,
            autoPlay:true
        });
    });
    
    var BASE = '${base}';
    var CDN_URL = '${cdn}';
</script>
<script type="text/javascript" src="${base}/assets/js/main.js?ver=${version}"></script>