<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<ul class="bs-docs-footer-links text-muted">
			<li>当前版本： ${version}</li>
			<li>·</li>
			<li><a href="https://github.com/junicorn/java-china" target="_blank">站点源码</a></li>
			<li>·</li>
			<li><a href="https://github.com/biezhi/blade" target="_blank">Blade框架</a></li>
			<li>·</li>
			<li><a href="${base_url('/faq')}">FAQ</a></li>
			<li>·</li>
			<li><a href="http://www.emoji-cheat-sheet.com" target="_blank">Emoji表情</a></li>
			<li>·</li>
			<li><a href="${base_url('/about')}">关于我们</a></li>
			<li>·</li>
			<li><a href="${base_url('/donate')}">支持我们</a></li>
		</ul>
		<p>
			Copyright © 2016 <a href="${base_url('/')}">Java中国</a>. All rights reserved.
		</p>
	</div>
</footer>
<script type="text/javascript">
var BASE = '${base}';
var CDN_URL = '${cdn}';
</script>
<script type="text/javascript" src="${cdn}/assets/lib/sweet-alert/sweetalert.min.js?ver=${version}"></script>
<script type="text/javascript" src="${cdn}/assets/lib/ladda/spin.min.js?ver=${version}"></script>
<script type="text/javascript" src="${cdn}/assets/lib/ladda/ladda.min.js?ver=${version}"></script>
<script type="text/javascript" src="${base}/assets/scripts/main.js?ver=${version}"></script>