<!-- Footer Start -->
<footer class="footer"> 2016 © Writty. </footer>
<!-- Footer Ends -->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="${cdn}/assets/js/jquery.js"></script>
<script src="${cdn}/assets/js/bootstrap.min.js"></script>
<script src="${cdn}/assets/js/pace.min.js"></script>
<script src="${cdn}/assets/js/wow.min.js"></script>
<script src="${cdn}/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="${cdn}/assets/jquery-knob/jquery.knob.js"></script>
<!-- owl-carousel -->
<script src="${cdn}/assets/owl-carousel/owl.carousel.js"></script>
<!--common script for all pages-->
<script src="${cdn}/assets/js/jquery.app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        //owl carousel
        $("#velonic-slider,#velonic-slider-2").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true,
            autoPlay:true
        });
    });
    /* BEGIN SVG WEATHER ICON */
    if (typeof Skycons !== 'undefined'){
    var icons = new Skycons(
        {"color": "#fff"},
        {"resizeClear": true}
        ), list  = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind", "fog"], i;

        for(i = list.length; i--; )
        icons.set(list[i], list[i]);
        icons.play();
    };
</script>
<script src="${base}/assets/js/main.js"></script>