#include("./common/header.html", {title:"系统提示"})
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="col-md-6 app layout-fixed-header bg-white usersession">
				<div class="full-height">
					<div class=center-wrapper>
						<div class=center-content>
							<div class="row no-margin col-md-8">
								<div class="alert alert-danger mt20 mr20 ml20">服务器出差错了！！</div>
							</div>
						</div>
					</div>
				</div>
			</div>			        	
        </div>
    </div>
</div>
#include("./common/footer.html")
</body>
</html>