#include("./common/header.html", {title:"关于我们"})
<div class="container">
    <div class="row">
        <div class="col-md-9">
		<div class="panel panel-default">
              <div class="panel-heading">
              	<a href="${base_url('/')}">Java中国</a> › 关于我们
              </div>
              <div class="panel-body">
            	等我想起来说什么会写点东西的。
              </div>
          </div>
        </div>
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")
</body>
</html>