#include("./common/header.html", {active:'about', title:'关于'})
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body p-0">
					<h3>关于Writty</h3>
					<hr/>
					<p>
						Writty是一个专门为技术人员打造的写作平台，正在完善中。
					</p>
					<p>
						如果你对本站有什么想法或者意见可以联系 <b>biezhi.me#gmail.com</b>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End row -->
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>