#include("./common/header.html", {title:"支持我们"})
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="${base_url('/')}">Java中国</a> › 支持我们
				</div>
				<div class="panel-body">
					<p>
					如果你觉得这个社区还不错的话，可以打赏一下支持我们。我们将用于服务器带宽筹备，将更好的服务提供给开发者 :)
					</p>
					<p>
						<img src="${base}/assets/images/alipay.png" width="300" height="300"/>
					</p>
				</div>
			</div>
		</div>
		#include("./common/sidebar.html")
	</div>
</div>
#include("./common/footer.html")
</body>
</html>