#include("./common/header.html", {active:'explore', title:'发现'})
 <link href="${base}/assets/css/explore.css" rel="stylesheet" />
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		#for(item : postPage.results)
		<div class='column col-md-4'>
		    <div class='post-module hover'>
		      <div class='thumbnail'>
		        <img src='${item.cover}'>
		      </div>
		      <div class='post-content'>
		        <div class='category'><a href="${base_url('/s/') + item.sid}" style="color: white;">${item.special}</a></div>
		        <a href="${base_url('/p/') + item.pid}"><h1 class='title'>${item.title}</h1></a>
		        <p class='description'>
		        	${str_count(item.content, 30)}
		        </p>
		        <div class='post-meta'>
		          	<span class='timestamp'>
			            <i class='fa fa-clock-o'></i>
			            ${timespan(item.created)}
		          	</span>
		          	<span class='comments'>
			            <i class='fa fa-comments'></i>
			            <a href='#'>${item.comments} 回复</a>
		          	</span>
		        </div>
		      </div>
		    </div>
	  	</div>
	  	#end
	</div>
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>