#include("./common/header.html", {active:'explore', title:'发现'})
 <link href="${base}/assets/css/explore.css" rel="stylesheet" />
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			#for(item : postPage.results)
			<div class='column col-md-6'>
			    <div class='post-module hover'>
			      <div class='thumbnail'>
			        <img src='${item.cover}'>
			      </div>
			      <div class='post-content'>
			        <div class='category'><a href="${base_url('/s/') + item.sid}" style="color: white;">${item.special}</a></div>
			        <a href="${base_url('/p/') + item.pid}"><h1 class='title'>${item.title}</h1></a>
			        <p class='description'>
			        	童话中丰富的想象和夸张可以活跃你的思维；那生动的形象、美妙的故事可以帮你认识社会、理解人生，非的人。</p>
			        <div class='post-meta'>
			          <span class='timestamp'>
			            <i class='fa fa-clock-o'></i>
			            ${timespan(item.created)}
			          </span>
			          <span class='comments'>
			            <i class='fa fa-comments'></i>
			            <a href='#'>${item.comments} 回复</a>
			          </span>
			        </div>
			      </div>
			    </div>
		  	</div>
		  	#end
		</div>
	</div>
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>