#include("./common/header.html", {title:"FAQ"})
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="${base_url('/')}">Java中国</a> › FAQ
				</div>
				<div class="panel-body topic-detail">
					<h4>JavaChina是什么？</h4>
					<hr/>
					<p>
						JavaChina 是Java中国开发者社区，为中国 Java 开发者创造一个简洁／优质的程序员论坛。
					</p>
					<p>
						本站的代码开源在 <a href="https://github.com/junicorn/java-china">Github</a>。
					</p>
					
					<br/>
					<h4>JavaChina是用什么做的？</h4>
					<hr/>
					<p>
						JavaChina 使用了开源框架 <a href="https://github.com/biezhi/blade">Blade</a> 搭建，如果你有兴趣可以学习或优化它。
					</p>
					
					<br/>
					<h4>发布的帖子可以修改或删除吗？</h4>
					<hr/>
					<p>
						发布的帖子在5分钟内 && 没有回复是可以修改的，帖子一旦发布不可删除。（如果帖子谈论过激政治话题或严重影响社区氛围可申请站长删除）
					</p>
					
					<br/>
					<h4>如何输入Emoji表情，音乐，艾特用户？</h4>
					<hr/>
					<p>
						<ul>
							<li>输入emoji表情：在发布帖子或者回复的时候按下 <code>:</code> 键即可弹出emoji选择下拉框，更多的emoji表情在<a href="http://www.emoji-cheat-sheet.com/" target="_blank">这里</a></li>
							<li>播放音乐的方式是这样 <code>[mp3:123456]</code> 这里的数字代码是网易云音乐的歌曲播放id</li>
							<li>@用户在回帖的时候按下 <code>@</code> 键即可，不过这里只显示了回复列表中的用户。</li>
						</ul>
					</p>
					
					<br/>
					<h4>我有好的建议，如何发声？</h4>
					<hr/>
					<p>
						社区刚刚搭建起来，是一个模仿出来的，很多还在慢慢改进。我们需要你真诚的意见，你可以在 <a href="https://github.com/junicorn/java-china/issues/new">这里</a> 留言。<br/>
						这里不接受无脑喷，我们生活在同一个网络，没有任何东西能入所有人的眼。我们能做的就是吸取经验和教训，做好的社区。谢谢你的支持！
					</p>
					
				</div>
			</div>
		</div>
		#include("./common/sidebar.html")
	</div>
</div>
#include("./common/footer.html")
</body>
</html>