#include("./common/header.html", {active:'home'})
<link href="${base}/assets/css/set1.css" rel="stylesheet" />
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		<div class="row text-center specials">
			<div class="grid">
				<figure class="effect-bubba">
					<a href="${base_url('/s/') + specials[0].id}">
						<img src="${specials[0].cover}" alt=""/>
						<figcaption>
							<h2>${specials[0].title}</h2>
							<p>${specials[0].description}</p>
						</figcaption>
					</a>			
				</figure>
				<figure class="effect-bubba">
					<a href="${base_url('/s/') + specials[1].id}">
						<img src="${specials[1].cover}" alt=""/>
						<figcaption>
							<h2>${specials[1].title}</h2>
							<p>${specials[1].description}</p>
						</figcaption>	
					</a>		
				</figure>
			</div>
			
			<div style="clear: both;"></div>
			
			<div class="grid">
				<figure class="effect-ruby">
					<a href="${base_url('/s/') + specials[2].id}">
						<img src="${specials[2].cover}" alt=""/>
						<figcaption>
							<h2>${specials[2].title}</h2>
							<p>${specials[2].description}</p>
						</figcaption>		
					</a>	
				</figure>
				<figure class="effect-ruby">
					<a href="${base_url('/s/') + specials[3].id}">
						<img src="${specials[3].cover}" alt=""/>
						<figcaption>
							<h2>${specials[3].title}</h2>
							<p>${specials[3].description}</p>
						</figcaption>	
					</a>		
				</figure>
			</div>
		</div>
			
		<div class="row text-center m-t-10 m-b-10">
			<button class="btn btn-inverse btn-custom m-b-5" onclick="random_specials();"> <i class="ion-loop"></i> <span>换一波</span> </button>
		</div>
			
		<div class="row text-center m-b-10">
			<h3 style="color: white;">专栏编辑</h3>
		</div>
							
		<div class="row">
			<div class="col-sm-4">
				<div class="panel">
					<div class="panel-body p-t-10">
						<div class="media-main">
							<a class="pull-left" href="#"> <img
								class="thumb-lg img-circle bx-s"
								src="${cdn}/assets/img/avatar.jpg" alt="">
							</a>
							<div class="info">
								<h4>王爵</h4>
								<p class="text-muted">Java开发者</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<hr />
						<ul class="social-links list-inline p-b-10 text-center">
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" target="_blank" href="https://github.com/biezhi" data-original-title="Github"><i
									class="fa fa-github"></i></a></li>
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" target="_blank" href="https://twitter.com/biezhii" data-original-title="Twitter"><i
									class="fa fa-twitter"></i></a></li>
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" target="_blank" href="http://weibo.com/u/5238733773" data-original-title="Weibo"><i
									class="fa fa-weibo"></i></a></li>
						</ul>
					</div>
					<!-- panel-body -->
				</div>
				<!-- panel -->
			</div>
			<!-- end col -->
	
			<div class="col-sm-4">
				<div class="panel">
					<div class="panel-body p-t-10">
						<div class="media-main">
							<a class="pull-left" href="#"> <img
								class="thumb-lg img-circle bx-s"
								src="${cdn}/assets/img/img_1.jpg" alt="">
							</a>
							<div class="info">
								<h4>文艺Rose</h4>
								<p class="text-muted">网站设计师</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<hr />
						<ul class="social-links list-inline p-b-10 text-center">
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" target="_blank" href="https://github.com/biezhi" data-original-title="Github"><i
									class="fa fa-github"></i></a></li>
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" target="_blank" href="https://twitter.com/biezhii" data-original-title="Twitter"><i
									class="fa fa-twitter"></i></a></li>
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" target="_blank" href="http://weibo.com/u/5238733773" data-original-title="Weibo"><i
									class="fa fa-weibo"></i></a></li>
						</ul>
					</div>
					<!-- panel-body -->
				</div>
				<!-- panel -->
			</div>
			<!-- end col -->
	
			<div class="col-sm-4">
				<div class="panel">
					<div class="panel-body p-t-10">
						<div class="media-main">
							<a class="pull-left" href="#"> <img
								class="thumb-lg img-circle bx-s" src="${cdn}/assets/img/cp.png"
								alt="">
							</a>
							<div class="info">
								<h4>逗比产品汪</h4>
								<p class="text-muted">你懂的...</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<hr />
						<ul class="social-links list-inline p-b-10 text-center">
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" href="https://github.com/biezhi" data-original-title="Github"><i
									class="fa fa-github"></i></a></li>
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" href="https://twitter.com/biezhii" data-original-title="Twitter"><i
									class="fa fa-twitter"></i></a></li>
							<li><a title="" data-placement="top" data-toggle="tooltip"
								class="tooltips" href="http://weibo.com/u/5238733773" data-original-title="Weibo"><i
									class="fa fa-weibo"></i></a></li>
						</ul>
					</div>
					<!-- panel-body -->
				</div>
				<!-- panel -->
			</div>
			<!-- end col -->
		</div>
	</div>
	<!-- End row -->
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>