#include("./common/header.html", {active:'home', title:'Writty'})
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default text-center">
				<div class="panel-body p-0">
					<div class="velonic-carousel">
						<div id="velonic-slider" class="owl-carousel">
							<div class="item">
								<h4>
									<a href="#">Hey! 我们一起来写点干货</a>
								</h4>
								<p class="small">2016/05/10</p>
								<p class="m-t-30">
									<em>在这里可以分享你的技术，人生经验。我们用编程刻画了这个世界，也应该留下一些行走的轨迹给后来者，这样时代才会进步。</em>
								</p>
								<button class="btn btn-warning btn-sm m-t-40">阅读全部</button>
							</div>
							<!-- /.item -->
						</div>
						<!-- /#tiles-slide-1 -->
					</div>
					<!-- /.panel-body -->
				</div>
			</div>
		</div>
	</div>
	<!-- End row -->

	<div class="row text-center">
		
		#for(item : specials)
		<div class="col-sm-6 col-md-3">
			<div class="panel special-row">
				<div class="h4 text-blank"><a href="">${item.title}</a></div>
				<div class="m-t-20 m-b-10 description">
					<span class="text-muted">${item.description}</span>
				</div>
				<div class="text-right follow">${item.post_count}篇文章，${item.follow_count}关注</div>
			</div>
		</div>
		#end
	</div>
	
	<div class="row text-center m-t-10 m-b-10">
		<button class="btn btn-inverse btn-custom m-b-5"> <i class="ion-loop"></i> <span>换一波</span> </button>
	</div>

	<div class="row text-center m-b-10">
		<h3>专栏编辑</h3>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<div class="panel">
				<div class="panel-body p-t-10">
					<div class="media-main">
						<a class="pull-left" href="#"> <img
							class="thumb-lg img-circle bx-s"
							src="${cdn}/assets/img/avatar.jpg" alt="">
						</a>
						<div class="info">
							<h4>王爵</h4>
							<p class="text-muted">Java开发者</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<hr />
					<ul class="social-links list-inline p-b-10">
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Facebook"><i
								class="fa fa-facebook"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Twitter"><i
								class="fa fa-twitter"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="LinkedIn"><i
								class="fa fa-linkedin"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Skype"><i
								class="fa fa-skype"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Message"><i
								class="fa fa-envelope-o"></i></a></li>
					</ul>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- end col -->

		<div class="col-sm-4">
			<div class="panel">
				<div class="panel-body p-t-10">
					<div class="media-main">
						<a class="pull-left" href="#"> <img
							class="thumb-lg img-circle bx-s"
							src="${cdn}/assets/img/img_1.jpg" alt="">
						</a>
						<div class="info">
							<h4>文艺Rose</h4>
							<p class="text-muted">网站设计师</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<hr />
					<ul class="social-links list-inline p-b-10">
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Facebook"><i
								class="fa fa-facebook"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Twitter"><i
								class="fa fa-twitter"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="LinkedIn"><i
								class="fa fa-linkedin"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Skype"><i
								class="fa fa-skype"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Message"><i
								class="fa fa-envelope-o"></i></a></li>
					</ul>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- end col -->

		<div class="col-sm-4">
			<div class="panel">
				<div class="panel-body p-t-10">
					<div class="media-main">
						<a class="pull-left" href="#"> <img
							class="thumb-lg img-circle bx-s" src="${cdn}/assets/img/cp.png"
							alt="">
						</a>
						<div class="info">
							<h4>逗比产品汪</h4>
							<p class="text-muted">你懂的...</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<hr />
					<ul class="social-links list-inline p-b-10">
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Facebook"><i
								class="fa fa-facebook"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Twitter"><i
								class="fa fa-twitter"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="LinkedIn"><i
								class="fa fa-linkedin"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Skype"><i
								class="fa fa-skype"></i></a></li>
						<li><a title="" data-placement="top" data-toggle="tooltip"
							class="tooltips" href="" data-original-title="Message"><i
								class="fa fa-envelope-o"></i></a></li>
					</ul>
				</div>
				<!-- panel-body -->
			</div>
			<!-- panel -->
		</div>
		<!-- end col -->
	</div>
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>