#include("./common/header.html", {title:'文章详情'})
 <link href="${base}/assets/css/explore.css" rel="stylesheet" />
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
			<div>
				<h1>${postMap.title}</h1>
			</div>
			<hr/>
			<div class="entry-mata" style="height: 30px;">
				<p class="pull-left">
					<a href="#"><img src="${postMap.user_avatar}" class="img-circle profile-img thumb-sm"/>
					<b>${postMap.publish_user}</b></a> 发布于 ${timespan(postMap.created)}
				</p>
				<p class="pull-right">
					<a href="${base_url('/s/') + postMap.sid}"><span class="label label-inverse">${postMap.special}</span></a>
				</p>
			</div>
			<hr/>
			<div class="entry-content">
				${postMap.content}
			</div>
			<hr />
			<div class="entry-footer m-l-10">
				<ul class="social-links list-inline">
					分享到：
					<li>
						<a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Weibo">
							<i class="fa fa-weibo"></i></a>
					</li>
				</ul>
			</div>
			<hr />
			#if(null != login_user)
			<div class="entry-comments">
				<div>
					<textarea class="form-control" rows="3" placeholder="请输入评论..." style="max-width: 100%; max-height: 150px;" ></textarea>
				</div>
				<div class="pull-right m-t-10">
					<button type="button" class="btn btn-primary btn-rounded m-b-5">发表评论</button>
				</div>
			</div>
			#end
		</div>
	</div>
	<!-- End row -->
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>