#include("./common/header.html", {title:"个人设置"})
<div class="container wraper container-fluid">
	<div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">个人信息</h3>
                </div>
                <div class="panel-body">
                	<form id="info_form" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                            	<p class="form-control-static">${login_user.user_name}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">电子邮件</label>
                            <div class="col-sm-10">
                            	<p class="form-control-static">${login_user.email}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="homepage" class="col-sm-2 control-label">个人主页</label>
                            <div class="col-md-10">
                                <input type="text" name="website" class="form-control" value="https://github.com/${login_user.user_name}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
			            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">修改密码</h3>
                </div>
                <div class="panel-body">
                	#if(null!=error)<div class="alert alert-danger">${error}</div>#end
                	#if(null!=info)<div class="alert alert-danger">${info}</div>#end
                	<form id="pwd_form" class="form-horizontal" role="form" method="post" onsubmit="return user.update_pwd();">
                		#if(null != login_user.pass_word && login_user.pass_word != '')
                		<div class="form-group">
                            <label for="email" class="col-sm-2 control-label">当前密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="curpwd" value="" required="required" />
                            </div>
                        </div>
                		#end
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-sm" name="newpwd" value="" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">确认新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-sm" name="renewpwd" value="" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger btn-sm">更改密码</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
        	
        </div>
	</div><!-- /.row -->
</div><!-- /.container -->
#include("./common/footer.html") 
</body>
</html>