#include("./common/header.html", {active:'special', title:'专栏'})
 <link href="${base}/assets/css/explore.css" rel="stylesheet" />
<!-- Page Content Start -->
<div class="container wraper container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id="specials" class="row text-center">
				#for(item : specialPage.results)
				<div class="col-sm-6 col-md-3">
					<div class="portlet">
						<a href="${base_url('/s/') + item.id}" style="color: white;">
							<div class="panel special-row" style="background-image: url('${cdn_url(item.cover)}'); background-size: cover;">
							</div>
						</a>
						<div style="height: 20px; line-height: 1px; margin-top: -10px; margin-bottom: 10px;">
							<a href="${base_url('/s/') + item.id}"><h4>${item.title}</h4></a>
						</div>
					</div>
				</div>
				#end
				
				#if(specialPage.totalPage > 1)
					#if(specialPage.page > 1)
					<div class="btn-group pull-left m-t-10 m-b-10">
						<a href="${base_url('/specials?p=') + specialPage.prev_page}" class="btn btn-default">上一页</a>
					</div>
					#end
					#if(specialPage.totalPage > 1 && specialPage.page != specialPage.totalPage)
					<div class="btn-group pull-right m-t-10 m-b-10">
						<a href="${base_url('/specials?p=') + specialPage.next_page}"  class="btn btn-default">下一页</a>
					</div>
					#end
				#end
			</div>
		</div>
	</div>
	<!-- End row -->
</div>
<!-- END Wraper -->
#include("./common/footer.html")
</body>
</html>