
/* Space out content a bit */
body {
  background-color: #fff;
  color: #333;
}

.explore-list .panel-body{
	padding: 0;
}

.entry-mata{
	
}

.entry-content{
	font-size: 18px;
	color: #404040;
}

.entry-content p{
	line-height: 1.6;
    margin-bottom: 30px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.entry-content img:not(.emoji){
    max-width: 100%;
    display: block;
    margin: 20px auto 30px;
}

.entry-content blockquote{
	color: #808080;
    font-style: italic;
}

.entry-content a{
	color: #3C763D;
}

.entry-content a:hover{
	text-decoration: underline;
}

.entry-content ul, ol{
	margin-left: -20px;	
}

.entry-content ul > li{
	list-style: square;	
}

.entry-content h1{
	font-size: 36px;	
}

.entry-content h1, h2, h3, h4, h5, h6{
    margin-bottom: 10px;
    margin-top: 20px;
	margin: 20px 0;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
}
.summary-meta{
	padding: 0;
	margin-top:-20px;
}
.summary-meta .txt{
	margin: 0;
	word-break: break-all;
	margin: 10px 0;
	line-height: 1.5;
	max-height: 84px;
	overflow: hidden;
}

.read-meta{
	font-size: 16px;
}

/* Customize container */
@media (min-width: 768px) {
  .jumbotron-container {
    max-width: 768px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing{
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}