
/* Space out content a bit */
body {
  background-color: #fff;
  color: #333;
}

.explore-list .panel-body{
	padding: 0;
}

.entry-mata{
	margin: 30px 0;	
}

.entry-content{
	line-height: 1.7;
    font-weight: 400;
}

.entry-content p{
	margin: 20px 0;
}

.entry-content img {
    max-width: 100%;
    display: block;
    margin: 20px auto 30px;
}
.summary-meta{
	padding: 0;
	margin-top:-20px;
}
.summary-meta .txt{
	margin: 0;
	word-break: break-all;
	margin: 10px 0;
	line-height: 1.5;
	max-height: 84px;
	overflow: hidden;
	font-size: 1.2em;
}

.read-meta{
	margin-top: 68px;
}

/* Customize container */
@media (min-width: 768px) {
  .jumbotron-container {
    max-width: 768px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing{
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}