</div>
	<footer class=content-footer>
		<nav class=footer-left>
			<ul class=nav>
				<li>
					<a href=javascript:;>Copyright <i class="fa fa-copyright"></i> <span>javachina</span> 2016. All rights reserved</a>
				</li>
			</ul>
		</nav>
	</footer>
</div>
<script type="text/javascript">
var BASE = '${base}';
</script>
<script type="text/javascript" src="${cdn}/assets/lib/sweet-alert/sweetalert.min.js?ver=${version}"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${base}/assets/scripts/admin.js"></script>