#include("./header.html", {active:'home', title:'仪表盘'})
<div class="page-title"> 
    <h3 class="title">Welcome !</h3> 
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-eye text-pink"></i> 
            <h2 class="m-0 counter">50</h2>
            <div>Daily Visits</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-wifi text-purple"></i> 
            <h2 class="m-0 counter">8956</h2>
            <div>Sales</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-ios7-pricetag text-info"></i> 
            <h2 class="m-0 counter">1268</h2>
            <div>New Orders</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-android-contacts text-success"></i> 
            <h2 class="m-0 counter">145</h2>
            <div>New Users</div>
        </div>
    </div>
</div> <!-- end row -->
#include("./footer.html")
</body>
</html>