#include("./header.html", {active:'topics', title:'帖子管理'})
<div class=main-content>
	<div class="panel mb25">
		<div class="panel-heading">帖子列表</div>
		<div class="panel-body">
			<div class="table-responsive">
				<div class="row">
					<div class="pull-left pl10">
						<label>
							<input type="search" class="form-control" placeholder="搜索...">
						</label>
						<a class="btn btn-icon-icon btn-sm btn-google-plus btn-round"><i class="fa fa-search"></i></a>
					</div>
				</div>
				<table class="table table-bordered table-striped mb0">
					<thead>
						<tr>
							<th>帖子标题</th>
							<th>发布人</th>
							<th>发布日期</th>
							<th width="10%" align="center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="" class="" target="_blank">Mac 上编写在 Linux 下运行的 c、c++程序，如何搭建开发环境</a>
							</td>
							<td>
								<a href="" class="" target="_blank">Martox</a>
							</td>
							<td>2016-05-03</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-outline btn-sm">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="datatable-bottom pt10">
				<div class="pull-left">
					<div class="dataTables_info" id="DataTables_Table_0_info"
						role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div>
				</div>
				<div class="pull-right">
					<div class="dataTables_paginate paging_bootstrap"
						id="DataTables_Table_0_paginate">
						<ul class="pagination no-margin">
							<li class="prev disabled"><a href="#" title="Previous">←</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li class="next"><a href="#" title="Next">→</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#include("./footer.html")
</body>
</html>